[submodule "platform"]
	path = platform
	url = git://github.com/nexgenta/eregansu.git
[submodule "app/cluster"]
	path = app/cluster
	url = git://github.com/nexgenta/cluster.git
[submodule "app/mq"]
	path = app/mq
	url = git://github.com/nexgenta/mq.git
[submodule "app/log"]
	path = app/log
	url = git://github.com/nexgenta/log.git
[submodule "Chroma-Hash"]
	path = Chroma-Hash
	url = git://github.com/mattt/Chroma-Hash.git
[submodule "app/heartbeat"]
	path = app/heartbeat
	url = git://github.com/nexgenta/heartbeat.git
[submodule "app/shell"]
	path = app/shell
	url = git://github.com/nexgenta/shell.git
